footer {
    display: flex;
    justify-content: center;
    background-color: #1DA1F2 ;
    border: 2px solid gray;
    padding: 2%;
}

.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer__container p {
    margin-bottom: 0;
}